{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class='text-center m-4'>Mis ToDo's</h1>
    <div class="button-container text-center">
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary text-center mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Crear Tarea  <i class="bi bi-pencil"></i>
        </button>
        
    </div>

  </button>

        <div class="row">
            {% for tarea in tareas %}
            <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                <div class="card m-4 text-center" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{tarea.titulo}} <i class="bi bi-card-checklist"></i></h5>
                        <p class="card-text">{{tarea.descripcion}}</p>
                        <div class="fecha d-flex ">
                            <p class=''>Inicio: {{tarea.fecha_inicio}}</p>
                            <p>Limite: {{tarea.fecha_limite}}</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <form action="" method='POST'>
                            {% csrf_token %}
                            <button type='button' class='btn btn-primary mx-4' data-bs-toggle="modal" data-bs-target="#updateModal_{{tarea.id}}">Editar</button>
                        </form>
                        <form action="{% url 'todo:delete' tarea.id %}" method='POST' id='delete_form_{{tarea.id}}'>
                            {% csrf_token %}
                            <button type='button' class='btn btn-danger mx-4' data-bs-toggle="modal" data-bs-target="#confirmModal_{{tarea.id}}">Eliminar</button>
                        </form>
                        <div class="status-status">
                            {% if tarea.status == 'Pendiente' %}
                                <p>Status: Pendiente</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

<!-- Modal: crear tarea-->
 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-journal-bookmark"></i> Nueva Tarea:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
    
        <form action="{% url 'todo:taskcreate' %}" method = 'POST'>
            {% csrf_token %}
            <div class="modal-body">
                
                <div class="form-group m-3">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" id="titulo" name="titulo">
                </div>
                <div class="form-group m-3">
                    <label for="descripcion">Descripcion:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
                </div>
                <div class="form-group m-3">
                    <label for="fecha_limite">Fecha limite:</label>
                    <input type="date" class="form-control" id="fecha_limite" name="fecha_limite">
                </div>
                
                <div class="form-group m-3">
                    <input type="radio" id="status" name="fav_language" value="status">
                    <label for="status">Pendiente</label><br>

                </div>
                    
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar tarea</button>
            </div>

        </form>

        
      </div>
    </div>
</div>

<!-- Modal: crear Eliminar-->

{% for tarea in tareas %}
<div class="modal fade" id="confirmModal_{{tarea.id}}" tabindex="-1" aria-labelledby="confirmModalLabel_{{tarea.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel_{{tarea.id}}">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta tarea?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="document.getElementById('delete_form_{{tarea.id}}').submit();">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Modal: editar tarea-->

{% for tarea in tareas %}
 
<div class="modal fade" id="updateModal_{{tarea.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{tarea.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-journal-bookmark"></i> Editar Tarea:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
    
        <form action="{% url 'todo:update' tarea.id %}" method = 'POST'>
            {% csrf_token %}
            <div class="modal-body">
                
                <div class="form-group m-3">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder='{{tarea.titulo}}... (Completar todos los campos)'>
                </div>
                <div class="form-group m-3">
                    <label for="descripcion">Descripcion:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" placeholder='{{tarea.descripcion}}... (Completar todos los campos)'></textarea>
                </div>
                <div class="form-group m-3">
                    <label for="fecha_limite">Fecha limite:</label>
                    <input type="date" class="form-control" id="fecha_limite" name="fecha_limite" placeholder='{{tarea.fecha_limite}}'>
                </div>
                    
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar tarea</button>
            </div>

        </form>

        
      </div>
    </div>
</div>
{% endfor %}


{% endblock content %}